<div id="article-banner">
  <h2><%- page.title %></h2>
  <p class="post-date"><%- date(page.date, "YYYY-MM-DD") %></p>
  <div class="arrow-down">
    <a href="javascript:;"></a>
  </div>
</div>
<main class="app-body">
  <article class="post-article">
    <section class="markdown-content"><%- page.content %></section>
    <% if (page.tags && page.tags.length) { %>
      <div class="tags">
        <span>Tags:</span>
        <%- partial('_partial/tag', { tags: page.tags }) %>
      </div>
    <% } %>
    <div id="disqus_thread"></div>
  </article>
</main>

<script>
  (function () {
    var url = '<%= config.url %>/<%= page.path %>';
    $('#article-banner').geopattern(url);
    $('.header').removeClass('fixed-header');
  })();

  var disqus_config = function () {
        this.page.url = '<%= page.permalink %>';
        this.page.identifier = '<%= page.path %>';
        this.page.title = '<%= page.title %>';
  };
  (function() {
  var d = document, s = d.createElement('script');

  s.src = '//<%= theme.disqus_shortname %>.disqus.com/embed.js';

  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
</script>
